<meta name="viewport" content="width=device-width, initial-scale=1.0">
*{
	box-sizing: border-box;
}
body{
	background-color: silver; 
	margin-bottom: 15px;
	}
h1{
	color: rgb(2,44,47); 
	text-align: center;
	font-size: 50;
	font-weight: bolder;
	padding-bottom: 50px;
	}
p{
	font-family: Trebuchet MS;
	font-style: bold;
	font-size: 20px;
	}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

li{
	float: left;
	}

li a{
	display: block;
	background-color: black;
	padding:5px 10px;
	font-size:25px;
	text-decoration: none;
	}
li a:hover{
	background-color: #555;
	color: white;
	text-decoration: none;
}
.myimg{
	float: right;
	width:50%; height:100%;

	}
.footer{
	 background-color:rgb(2,44,47); color:orange; width: 100%; height: 50%; font-family: arial bold;
	 
	}
.gametable{
	background-color: gray;
	font-family: times;
	border-top-width: 1px;
	border-style: double;
	}
td,th{
	border: 1px solid #dddddd;
	padding: 4px;
	width: 100%;
	}
